<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <style>
        .frame1 {
            width: 100%;
            height: 39rem;
            background: #FFF;
        }

        .container {
            position: relative;
            width: 50.2365rem;
            height: 35.97663rem;
            flex-shrink: 0;
            border: 0.2px solid #1E1E1E;
        }

        .shop-name {
            position: relative;
            display: flex;
            width: 16.20863rem;
            height: 1.2455rem;
            flex-direction: column;
            flex-shrink: 0;

            /* top: 0.05rem;
            left: 0.98rem; */

            color: #1E1E1E;
            font-size: 1.25rem;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .logo-container {
            display: flex;
            width: 7.625rem;
            height: 3.5rem;
            gap: 0.13638rem;
            flex-shrink: 0;

            color: #00ACC1;
        }

        .shop-info {
            margin-top: 0.48rem;
            width: 34.413rem;
            color: #000;
            font-size: 0.625rem;
            font-family: Poppins;
            font-style: normal;
            font-weight: 400;
            line-height: 1rem;
        }

        .shop-info-child1 {
            display: flex;
            width: 12.21775rem;
            height: 2.80238rem;
            flex-direction: column;
            flex-shrink: 0;
        }

        .shop-info-child2 {
            width: 13.933rem;
            height: 2.86188rem;
            flex-shrink: 0;
            margin-left: 55px;
        }

        .customer-details {
            width: 11.61225rem;
            height: 3.89913rem;
            flex-shrink: 0;

            color: #1E1E1E;
            font-size: 0.625rem;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .customer-details p {
            display: flex;
            width: 11.61225rem;
            height: 0.78725rem;
            flex-direction: column;
            flex-shrink: 0;
            margin-top: 0.1rem;
            margin-bottom: 0;
        }

        .receipt-type {
            display: flex;
            width: 19.58875rem;
            height: 1.625rem;
            flex-direction: column;
            flex-shrink: 0;
            text-align: center;
            margin: auto;
            margin-top: 0.2rem;

            color: #1E1E1E;
            font-size: 1.25rem;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        .receipt-details {
            width: 11.61225rem;
            height: 2.77413rem;
            flex-shrink: 0;

            color: #1E1E1E;
            font-size: 0.625rem;
            font-family: Poppins;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        .receipt-details p {
            display: flex;
            width: 11.61225rem;
            height: 0.78725rem;
            flex-direction: column;
            flex-shrink: 0;
            margin-top: 0.2rem;
            margin-bottom: 0;
        }


        .cart-table {
            position: relative;
            left: -1rem;
            width: 50.23000rem;
            height: 14.56863rem;
            border: 0.05rem solid #1E1E1E;

            margin-top: 0.75rem;
        }

        .cart-table thead th {
            color: #000;
            font-size: 0.75rem;
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            margin: auto;

            border: 0.05rem solid #1E1E1E;
        }

        .cart-table tbody td {
            border-left: 1px solid #000;
            border-right: 1px solid #000;
            border-top: none !important;

            color: #000;
            font-size: 0.625rem;
            font-family: Poppins;
            font-style: normal;
            font-weight: 400;
            line-height: 0.875rem;
            text-transform: uppercase;
        }

        .footer-gst-distribution {
            position: relative;
            left: -1rem;
            width: 25.03875rem;
            height: 10.15rem;

            color: #000;
            font-size: 0.625rem;
            font-family: Poppins;
            font-style: normal;
            font-weight: 400;
            line-height: 0.875rem;
            text-transform: uppercase;
        }

        .footer-gst-distribution thead th {
            color: #000;
            line-height: normal;
            margin: auto;
            border: 0.05rem solid #1E1E1E;
        }

        .footer-gst-distribution tbody td {
            border: 1px solid #000;
            color: #000;
            font-size: 0.625rem;
            font-family: Poppins;
            font-style: normal;
            font-weight: 400;
            line-height: 0.875rem;
            text-transform: uppercase;
            padding-right: 0rem;
        }

        .footer-1 {
            position: relative;
            left: -1rem;
            top: -0.05rem;
            width: 20.9rem;
            height: 10.15rem;
            border: 0.05rem solid #1E1E1E;

            color: #000;
            font-size: 0.75rem;
            font-family: Poppins;
            font-style: normal;
        }

        .receipt-msg {
            border-bottom: 0.05rem solid #1E1E1E;
            height: 1.5rem;
            font-weight: 300;
            line-height: normal;
            margin-bottom: 0rem;
        }

        .receipt-msg p {
            margin-left: 0.47rem;
        }

        .receipt-tnc {
            font-weight: 600;
            line-height: normal;
            text-decoration-line: underline;
            margin-left: 0.34rem;
            margin-top: 0.47rem;

            height: 5.95rem;
        }

        .receipt-sign {
            border-top: 0.05rem solid #1E1E1E;
            width: 9.03875rem;
            font-weight: 600;
            line-height: normal;
            text-align: center;

            margin-left: auto;
            margin-bottom: 1rem;
        }

        .footer-2 {
            width: 19.25rem;
            height: 10.15rem;

            color: #000;
            font-size: 0.75rem;
            font-family: Poppins;
            font-style: normal;
        }

        .cart-summary {
            height: 7.32rem;
            font-size: 1rem;
            border-bottom: 0.05rem solid #1E1E1E;
        }

        .cart-summary .label {
            font-weight: 600;
        }

        .cart-total {
            font-size: 1rem;
            font-weight: 600;
        }

        .line-1 {
            left: -1rem;
            width: 48.11925rem;
            height: 0rem;
            flex-shrink: 0;
            color: #1E1E1E;
            margin: 0.15rem 0rem 0.2rem 0rem;
        }
    </style>
</head>

<body>

    <div class="d-flex justify-content-between">
        <div class="p-2 m-3">
            <button class="btn-border" onclick="CreatePDFfromHTML()">Download</button>
        </div>
        <div class="p-2 m-3">
            <button class="btn btn-border" onclick="history.back()"> Back </button>
        </div>
    </div>


    <div class="frame1" id="html-content">
        <div class="container">
            <div class="d-flex justify-content-between">
                <div>
                    <div class="shop-name" id="orgname">

                    </div>
                    <div class="shop-info d-flex justify-content-between">
                        <div class="shop-info-child1" id="orgaddress">

                        </div>
                        <div class="shop-info-child2" style="width: 41vw;">
                            <p class="my-0" id="flno">F.L. no.:</p>
                            <p class="my-0" id="gstin">GSTIN:</p>
                            <p class="my-0" id="dlno">D.L.no.:</p>


                        </div>
                    </div>

                </div>
                <div class="logo-container">
                    <img src="/images/logo.svg"></img>
                </div>
            </div>
            <hr class="line-1">
            <div class="receipt-type">
                Credit Note
            </div>
            <div class="d-flex justify-content-between">
                <div class="customer-details">
                    <p style="font-weight: 600;" id="vendorname">
                        Distributor Name:
                    </p>
                    <p id="vendormobile">
                        Mobile:
                    </p>
                    <p id="vendoremail">
                        Email:
                    </p>
                    <p id="vendoradd">
                        Address:
                    </p>

                </div>
                <div class="receipt-details">
                    <p id="vendorgst">
                        GSTIN:
                    </p>
                    <p id="vendordl">
                        D.L.no.:
                    </p>
                    <p id="vendorFssai">
                        FSSAI:
                    </p>
                </div>
                <div class="receipt-details">
                    <!-- <p id="invoiceno">Invoice no:</p> -->
                    <p id="orderdate">
                        Invoice Date:
                    </p>
                    <p id="crno">
                        Credit No.:
                    </p>
                </div>

            </div>
            <table class="cart-table">
                <thead>
                    <tr>
                        <th style="width: 2.27rem;">S.N.</th>
                        <th style="width: 11.29rem;">Item</th>
                        <th style="width: 4.59rem;">HSN</th>
                        <th style="width: 4.4rem;">Batch</th>
                        <th style="width: 3.25rem;">Expiry</th>
                        <th style="width: 3.62rem;">MRP(₹)</th>
                        <th style="width: 3.1rem;">QTY</th>
                        <th style="width: 3.62rem;">PTR(₹)</th>
                        <th style="width: 3.61rem;">Gross Value(₹)</th>
                        <th style="width: 3.61rem;">GST%</th>
                        <th style="width: 3.61rem;">GST Value(₹)</th>
                        <th style="width: 3.61rem;">Amount(₹)</th>
                    </tr>
                </thead>
                <tbody id="cartitems">
                </tbody>
            </table>
            <div class="d-flex flex-row">
                <table class="footer-gst-distribution">
                    <thead>
                        <tr>
                            <th>GST%</th>
                            <th>Taxable Amt</th>
                            <th>CGST</th>
                            <th>SGST</th>
                            <th>Total GST</th>
                        </tr>
                    </thead>
                    <tbody class="p-0">
                        <tr>
                            <td>0%</td>
                            <td id="taxAmt0"></td>
                            <td id="cgst-0"></td>
                            <td id="sgst-0">
                            </td>
                            <td id="totalGst0"></td>
                        </tr>
                        <tr>
                            <td>5%</td>
                            <td id="taxAmt5"></td>
                            <td id="cgst-5"></td>
                            <td id="sgst-5">
                            </td>
                            <td id="totalGst5"></td>
                        </tr>
                        <tr>
                            <td>12%</td>
                            <td id="taxAmt12"></td>
                            <td id="cgst-12"></td>
                            <td id="sgst-12">
                            </td>
                            <td id="totalGst12"></td>
                        </tr>
                        <tr>
                            <td>18%</td>
                            <td id="taxAmt18"></td>
                            <td id="cgst-18"></td>
                            <td id="sgst-18">
                            </td>
                            <td id="totalGst18"></td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td id="taxAmtTotal"></td>
                            <td id="cgstTotal"></td>
                            <td id="sgstTotal"></td>
                            <td id="totalGst"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="footer-1">
                    <div class="receipt-msg">
                        <p id="NumberOfItems">
                            No of Items
                        </p>
                    </div>
                    <div class="receipt-info">
                        <div class="receipt-tnc">

                        </div>
                        <div class="receipt-sign">
                            Authorised Signature
                        </div>

                    </div>
                </div>
                <div class="footer-2">
                    <div class="cart-summary">
                        <div class="d-flex justify-content-between">
                            <div class="label">
                                Total Gross(₹):
                            </div>
                            <div id="totalGross">
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="label">
                                Add CGST:
                            </div>
                            <div id="cgst">
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="label">
                                Add SGST:
                            </div>
                            <div id="sgst">
                            </div>
                        </div>
                    </div>
                    <div class="cart-total">
                        <div class="d-flex justify-content-between my-2">
                            <div>
                                Total Amount(₹):
                            </div>
                            <div id="totalcredit">
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>




    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/moment.min.js"></script>
    <script>
        $(document).ready(function () {
            var id = '<%=id%>';
            console.log(id);

            $.get(`/api/getcreditnoteininvoice?id=${id}`, function (data, status) {
                var podata = data.data[0];
                console.log('inside the credit note', data);
                var options = { year: 'numeric', month: 'long', day: 'numeric' };
                var invoiceDate = new Date(podata.credit_created_date);
                var formattedDate = invoiceDate.toLocaleDateString('en-US', options);
                $(".orderdate").text(`Date: ${formattedDate}`);
                $("#crno").html(`Credit No:<br>${id}`)

                $("#vendorname").text(`Distributor Name: ${podata.vendor_name}`)
                $("#vendormobile").text(`Mobile: ${podata.vendor_contact}`)
                $("#vendoremail").text(`Email: ${podata.vendor_email}`)
                $("#vendoradd").text(`Address: ${podata.vendor_address}`)
                $("#vendorgst").text(`GSTIN: ${podata.vendor_gstin}`)
                $("#vendordl").text(`DL.no: ${podata.vendor_dl_no_1}`)
                $("#vendorFssai").text(`FSSAI: ${podata.vendor_fssai}`)

                var items = data.data;

                var totalGross = 0;
                var totalGST = 0;
                var totalAmount = 0;

                var transactions = [];

                for (var i = 0; i < items.length; i++) {

                    $("#NumberOfItems").text(`No of Items: ${items.length}`);

                    var datetime = items[i].exp_date;
                    var expDate = moment(datetime).format('MM/YYYY');

                    var grossValue = items[i].pri_unit_credit * items[i].purchase_rate + (items[i].purchase_rate / items[i].conversion) * items[i].sec_unit_credit;
                    var gstValue = grossValue * items[i].gst / 100;
                    var amount = grossValue + gstValue;

                    var transaction = {
                        grossAmount: grossValue,
                        gstRate: items[i].gst,
                    }

                    // Append the object to the transactions array
                    transactions.push(transaction);

                    cartHtml = `

                    <tr>
                        <td style="width: 2.27rem; height: 1rem;">${i + 1}</td>
                        <td style="width: 11.29rem; height: 1rem;">${items[i].med_name}</td>
                        <td style="width: 4.59rem; height: 1rem;">${items[i].hsn}</td>
                        <td style="width: 4.4rem; height: 1rem;">${items[i].batch_name}</td>
                        <td style="width: 3.25rem; height: 1rem;">${expDate}</td>
                        <td style="width: 3.62rem; height: 1rem;">${(items[i].mrp).toFixed(2)}</td>
                        <td style="width: 3.1rem; height: 1rem;">${items[i].pri_unit_credit}:${items[i].sec_unit_credit}</td>
                        <td style="width: 3.62rem; height: 1rem;">${(items[i].purchase_rate).toFixed(2)}</td>
                        <td style="width: 3.61rem; height: 1rem;">${grossValue.toFixed(2)}</td>
                        <td style="width: 3.61rem; height: 1rem;">${items[i].gst}</td>
                        <td style="width: 3.61rem; height: 1rem;">${gstValue.toFixed(2)}</td>
                        <td style="width: 3.61rem; height: 1rem;">${amount.toFixed(2)}</td>
                    </tr>`
                    $("#cartitems").append(cartHtml);

                    totalGross += grossValue;
                    totalGST += gstValue;
                    totalAmount += amount;

                }
                $("#totalcredit").text(totalAmount.toFixed(2));
                $("#totalGross").text(totalGross.toFixed(2));
                $("#cgst").text((totalGST / 2).toFixed(2));
                $("#sgst").text((totalGST / 2).toFixed(2));

                // Initialize totals
                var totals = {
                    0: { taxAmt: 0, cgst: 0, sgst: 0, totalGst: 0 },
                    5: { taxAmt: 0, cgst: 0, sgst: 0, totalGst: 0 },
                    12: { taxAmt: 0, cgst: 0, sgst: 0, totalGst: 0 },
                    18: { taxAmt: 0, cgst: 0, sgst: 0, totalGst: 0 },
                    total: { taxAmt: 0, cgst: 0, sgst: 0, totalGst: 0 },
                    grandTotal: { taxAmt: 0, cgst: 0, sgst: 0, totalGst: 0 }
                };

                // Calculate totals
                transactions.forEach(function (transaction) {
                    // If this GST rate hasn't been seen before, add it to totals
                    if (!(transaction.gstRate in totals)) {
                        totals[transaction.gstRate] = { taxAmt: 0, cgst: 0, sgst: 0, totalGst: 0 };
                    }

                    var gstAmount = transaction.grossAmount * transaction.gstRate / 100;
                    var cgst = gstAmount / 2;
                    var sgst = gstAmount / 2;

                    totals[transaction.gstRate].taxAmt += transaction.grossAmount;
                    totals[transaction.gstRate].cgst += cgst;
                    totals[transaction.gstRate].sgst += sgst;
                    totals[transaction.gstRate].totalGst += gstAmount;

                    totals.total.taxAmt += transaction.grossAmount;
                    totals.total.cgst += cgst;
                    totals.total.sgst += sgst;
                    totals.total.totalGst += gstAmount;

                    totals.grandTotal.taxAmt += transaction.grossAmount;
                    totals.grandTotal.cgst += cgst;
                    totals.grandTotal.sgst += sgst;
                    totals.grandTotal.totalGst += gstAmount;
                });

                // Display totals
                for (var gstRate in totals) {
                    $('#taxAmt' + gstRate).text((totals[gstRate].taxAmt).toFixed(2));
                    $('#cgst-' + gstRate).text((totals[gstRate].cgst).toFixed(2));
                    $('#sgst-' + gstRate).text((totals[gstRate].sgst).toFixed(2));
                    $('#totalGst' + gstRate).text((totals[gstRate].totalGst).toFixed(2));
                }

                // Display grand totals
                $('#taxAmtTotal').text((totals.grandTotal.taxAmt).toFixed(2));
                $('#cgstTotal').text((totals.grandTotal.cgst).toFixed(2));
                $('#sgstTotal').text((totals.grandTotal.sgst).toFixed(2));
                $('#totalGst').text((totals.grandTotal.totalGst).toFixed(2));

            });

            $.get(`/api/org/<%=orgId%>`, function (data, status) {
                var org = data.data
                var orgName = org.org_name;
                var orgNumber = org.org_telephone;
                var orgAdd = org.org_address;

                $("#orgname").html(`${orgName}`);

                $("#orgaddress").html(`
                    ${orgAdd}</br>
                    ${org.org_city}( ${org.org_state} ), ${org.org_pincode}</br>
                    ${org.org_telephone}
                `)

                $("#gstin").text(`GSTIN: ${org.org_gstin}`);
                $("#dlno").text(`D.L.no.: ${org.org_dl_no_1}, ${org.org_dl_no_2}`)
                $("#flno").text(`F.L. no.: ${org.org_fssai_no}`)


            });
        })
    </script>

    <script>
        //Create PDf from HTML...
        function CreatePDFfromHTML() {
            var HTML_Width = $("#html-content").width();
            var HTML_Height = $("#html-content").height();
            var top_left_margin = 15;
            var PDF_Width = HTML_Width + (top_left_margin * 2);
            var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
            var canvas_image_width = HTML_Width;
            var canvas_image_height = HTML_Height;

            var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;

            html2canvas($("#html-content")[0]).then(function (canvas) {
                var imgData = canvas.toDataURL("image/jpeg", 1.0);
                var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
                pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);
                for (var i = 1; i <= totalPDFPages; i++) {
                    pdf.addPage(PDF_Width, PDF_Height);
                    pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 4), canvas_image_width, canvas_image_height);
                }
                pdf.save("invoice.pdf");
            });
        }
    </script>

</body>

</html>