<%- include('../partials/headercode.ejs') %>

    <body>

        <!-- Content -->


        <div class="authentication-wrapper authentication-cover">
            <div class="authentication-inner row m-0">

                <!-- Left Text -->
                <div class="d-none d-lg-flex col-lg-4 align-items-center justify-content-end p-5 pe-0">
                    <div class="w-px-400">
                        <img src="/img/illustrations/create-account-light.png" class="img-fluid" alt="multi-steps"
                            width="600" data-app-dark-img="illustrations/create-account-dark.png"
                            data-app-light-img="illustrations/create-account-light.html">
                    </div>
                </div>
                <!-- /Left Text -->

                <!--  Multi Steps Registration -->
                <div class="d-flex col-lg-8 align-items-center justify-content-center authentication-bg p-sm-5 p-3">
                    <div class="w-px-700">
                        <div id="multiStepsValidation" class="bs-stepper shadow-none">

                            <div class="bs-stepper-content">

                                <!-- Personal Info -->
                                <div id="pharmacyDetails" class="content">
                                    <div class="content-header mb-3">
                                        <h3 class="mb-2">Register Your Pharmacy</h3>
                                        <span>Enter Your Pharmacy Details</span>
                                    </div>
                                    <div class="row g-3 d-flex justify-content-center">
                                        <div class="col-sm-10">
                                            <label class="form-label" for="org_name">Pharmacy name</label>
                                            <input type="text" id="org_name" name="org_name" class="form-control"
                                                required />
                                        </div>
                                        <div class="col-sm-10">
                                            <label class="form-label" for="owner_name">Owner name</label>
                                            <input type="text" id="owner_name" name="owner_name" class="form-control"
                                                required />
                                        </div>
                                        <div class="col-sm-10">
                                            <label class="form-label" for="org_dl_no_1">DL No. 1</label>
                                            <div class="input-group">
                                                <span id="basic-icon-default-fullname2" class="input-group-text"><i
                                                        class='bx bx-detail'></i></span>
                                                <input type="text" id="dl1_ft" value="20" class="form-control" readonly>
                                                <input type="text" id="dl1_st" placeholder="State (eg:-MH)"
                                                    class="form-control">
                                                <input type="text" id="dl1_ct" placeholder="City (eg:-NG)"
                                                    class="form-control">
                                                <input type="text" id="dl1_ln" placeholder="License No."
                                                    class="form-control" minlength="6" maxlength="6">
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <label class="form-label" for="org_dl_no_2">DL No. 2</label>
                                            <div class="input-group">
                                                <span id="basic-icon-default-fullname2" class="input-group-text"><i
                                                        class='bx bx-detail'></i></span>
                                                <input type="text" id="dl2_ft" value="21" class="form-control" readonly>
                                                <input type="text" id="dl2_st" placeholder="State (eg:-MH)"
                                                    class="form-control">
                                                <input type="text" id="dl2_ct" placeholder="City (eg:-NG)"
                                                    class="form-control">
                                                <input type="text" id="dl2_ln" placeholder="License No."
                                                    class="form-control" minlength="6" maxlength="6">
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <label class="form-label" for="org_pincode">Pincode</label>
                                            <input type="number" id="org_pincode" name="org_pincode"
                                                class="form-control" maxlength="6" required />
                                        </div>
                                        <div class="col-sm-10">
                                            <label class="form-label" for="org_address">Address</label>
                                            <textarea type="text" id="org_address" name="org_address"
                                                class="form-control" required>
                                                </textarea>
                                        </div>

                                        <div class="col-sm-10">
                                            <div class="form-check mt-3">
                                                <input class="form-check-input" type="checkbox" value=""
                                                    id="defaultCheck1" required />
                                                <label class="form-check-label" for="defaultCheck1">
                                                    Disclaimer : Hereby I asure that data given here is
                                                    validated by me and is genuine to my consiousness as this data
                                                    cannot be edited further.
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-12 text-center my-4">
                                            <button class="btn btn-primary btn-next" id="submitPharmacyDetails"> <span
                                                    class="align-middle d-sm-inline-block d-none me-sm-1 me-0">Confirm</span></button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Multi Steps Registration -->
            </div>
        </div>

        <!-- / Content -->



        <%- include('../partials/footercode.ejs') %>

            <!-- Page JS -->
            <script src="/js/pages-auth.js"></script>
            <script src="/js/pages-auth-two-steps.js"></script>

            <script>
                $(document).ready(function () {

                    $("#submitPharmacyDetails").click(function () {
                        var dl_no_1 = $("#dl1_ft").val().toString()+ '-' + $("#dl1_st").val().toString()+ '-' + $("#dl1_ct").val().toString() + '-' + $("#dl1_ln").val().toString();
                        var dl_no_2 = $("#dl2_ft").val().toString()+ '-' + $("#dl2_st").val().toString()+ '-' + $("#dl2_ct").val().toString() + '-' + $("#dl2_ln").val().toString();

                        $.ajax({
                            url: `/api/auth/register`,
                            type: 'POST',
                            data: JSON.stringify({
                                org_telephone: '<%= mobileNumber %>',
                                org_name: $("#org_name").val() ,
                                owner_name: $("#owner_name").val() ,
                                org_dl_no_1: dl_no_1,
                                org_dl_no_2: dl_no_2,
                                org_pincode: $("#org_pincode").val(),
                                org_address: $("#org_address").val(),
                            }),
                            contentType: 'application/json',
                            success: function (response) {
                                window.location.href = response.redirect
                            },
                            error: function (error) {
                                console.log('error', error);
                            }
                        })
                    })

                })
            </script>


    </body>

    </html>